/*
-----------------------------------------
Ejercicio 1
-----------------------------------------
*{
    background-color: red;
}
-----------------------------------------
Ejercicio 2
-----------------------------------------
p{
    background-color: aqua;
}
-----------------------------------------
Ejercicio 3
-----------------------------------------
#title-1{
    background-color: blueviolet;
}
-----------------------------------------
Ejercicio 4
-----------------------------------------
[class|="bg-yellow"]{
    background-color: brown;
}
-----------------------------------------
Ejercicio 5
-----------------------------------------
[id] {
    background-color: blueviolet;
}
-----------------------------------------
Ejercicio 6
-----------------------------------------
#title-1{
    background-color: chocolate;
}
-----------------------------------------
Ejercicio 7
-----------------------------------------
[href*="yahoo"]{
    background-color: coral;
}
-----------------------------------------
Ejercicio 8
-----------------------------------------
[class|="title"]{
    background-color: darkgoldenrod;
}
-----------------------------------------
Ejercicio 9
-----------------------------------------
[href$=".com"]{
    background-color: blue;
}
-----------------------------------------
Ejercicio 10
-----------------------------------------
[class|="title"] {
    background-color: fuchsia;
}
-----------------------------------------
Ejercicio 11
-----------------------------------------
[href="123"]{
    background-color: blue;
}
-----------------------------------------
Ejercicio 12
-----------------------------------------
a, p, h1{
    background-color: blue;
}
-----------------------------------------
Ejercicio 14
-----------------------------------------
main p{
    background-color: blueviolet;
}
-----------------------------------------
Ejercicio 15
-----------------------------------------
*/
h1 + p{
    background-color: aqua;
}




